<% layout( 'admin-layout' ) -%>
        <div class="admin-content">
         <div class="am-cf am-padding">
        	<div class="am-fl am-cf">
          		<strong class="am-text-primary am-text-lg"><a href="list">博客管理</a></strong> / <small>编辑博客</small>
        	</div>
      	  </div>
          <div class="am-tabs am-margin" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
              <li class="am-active"><a href="#tab1">基本信息</a></li>
              <li><a href="#tab3">BLOG 选项</a></li>
            </ul>

            <div class="am-tabs-bd">
              <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                <div class="am-g am-margin-top">
                  <div class="am-u-sm-4 am-u-md-2 am-text-right">所属类别</div>
                  <div class="am-dropdown" style="margin-left:15px" data-am-dropdown>
					  <button id="group_title" class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><%=selectedGroup.title%><span class="am-icon-caret-down"></span></button>
					  <input type="hidden" id="group_id" value="<%= selectedGroup._id %>"/> 
					  <ul id="groupSelect" class="am-dropdown-content">
					   	<% groups.forEach( function ( group ){ %>
					    <li><a id="<%= group._id %>"><%= group.title %></a></li>
					    <% }); %>
					  </ul>
				  </div>
                </div>

                <div class="am-g am-margin-top">
                  <div class="am-u-sm-4 am-u-md-2 am-text-right">显示状态</div>
                  <div class="am-u-sm-8 am-u-md-10 am-text-left">
                    <div class="am-btn-group" data-am-button>
                      <label class="am-btn am-btn-default am-btn-xs"> <input
                        type="radio" name="options" id="option1"> 正常
                      </label> <label class="am-btn am-btn-default am-btn-xs"> <input
                        type="radio" name="options" id="option2"> 待审核
                      </label> <label class="am-btn am-btn-default am-btn-xs"> <input
                        type="radio" name="options" id="option3"> 不显示
                      </label>
                    </div>
                  </div>
                </div>

                <div class="am-g am-margin-top">
                  <div class="am-u-sm-4 am-u-md-2 am-text-right">标签</div>
                  <div class="am-u-sm-8 am-u-md-10 am-text-left">
                    <div id="label-list" class="am-btn-group" data-am-button>
                      <input type="hidden" id="blogLabelIds" />
                      <% var i = 0; %>
                      <% labels.forEach( function ( label ){ %>
                      <% if(label.content != ''){ 
                      		var labeled = '0';
                      		selectedlabels.forEach( function ( selectedLabel ){
								if(selectedLabel.content == label.content){
					 %>
					 	 <label id="add<%= label._id %>" class="am-btn am-btn-default am-btn-xs am-active"> <input
	                        type="checkbox"> <%= label.content %>
	                      </label>
					 <%							
					 				labeled = '1';	
								}
								
                      		});
                      		if(labeled == '0'){
                      %>
                      		 <label id="add<%= label._id %>" class="am-btn am-btn-default am-btn-xs"> <input
	                        type="checkbox"> <%= label.content %>
	                      </label>
                      <%
           
                      		}
                      %>
	       			   <% i++;  %> 
	                   <% if(i == 4){ %>
	                   <% i = 0; %>
	                   	  <br />
	                   <% } %>
                       <% }}); %>
                       <button data-am-modal="{target:'#add-label-modal', closeViaDimmer: 0, width: 400, height: 200}" class="am-btn am-btn-default am-btn-xs" type="button">
            		   		<span class="am-icon-plus"></span>新增
            		   	</button>
                    </div>
                  </div>
                </div>

                <div class="am-g am-margin-top">
                  <div class="am-u-sm-4 am-u-md-2 am-text-right">发布时间</div>
                  <div class="am-u-sm-8 am-u-md-10 am-text-left">
                    <form action="" class="am-form am-form-inline">
                      <div class="am-form-group am-form-icon">
                        <i class="am-icon-calendar"></i> <input type="text"
                          class="am-form-field am-input-sm" placeholder="时间">
                      </div>
                    </form>
                  </div>
                </div>

              </div>

              <div class="am-tab-panel am-fade" id="tab3">
                <form class="am-form">
                  <div class="am-g am-margin-top-sm">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">BLOG 标题</div>
                    <div class="am-u-sm-8 am-u-md-9 am-u-end">
                      <input type="text" class="am-input-sm" id="blog-title" value="<%=blog.title%>">
                      <input type="hidden" id="blog-id" value="<%=blog._id%>" >
                    </div>
                  </div>

                  <div class="am-g am-margin-top-sm">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">BLOG 关键字
                    </div>
                    <div class="am-u-sm-8 am-u-md-9 am-u-end">
                      <input type="text" class="am-input-sm" id="blog-keywords" value="<%=blog.keywords%>">
                    </div>
                  </div>

                  <div class="am-g am-margin-top-sm">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">BLOG 内容</div>
                    <div class="am-u-sm-8 am-u-md-9 am-u-end">
                      <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span>
            			<span id="full-screen-btn" class="admin-fullText">开启全屏编辑</span></a></li>
                      <br />
                      <pre id="editor" style="height: 640px; width: 100%;"><%=blog.content%></pre>
						<!-- load ace -->
						<script>
						    var editor = ace.edit("editor");
						    editor.setTheme("ace/theme/tomorrow_night_eighties");
						    editor.session.setMode("ace/mode/html");
						    editor.setAutoScrollEditorIntoView(true);
						    editor.setOption("maxLines", 40);
						    editor.setValue($('#editor-content')); // or session.setValue
						</script>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>

          <div class="am-margin">
            <button id="update-blog-btn" type="button" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
            <form action="preview" method="post" class="am-btn am-btn-xs" target="_blank">
            	<input name="preview_content" id="preview-content" type="hidden" value="" />
            	<input id="submit-preview-btn" type="submit" class="am-btn am-btn-success am-btn-xs" value="预览"></input>
            </form>
          </div>
        </div>
        
        <!-- add-label-modal -->	
	<div class="am-modal am-modal-no-btn" tabindex="-1" id="add-label-modal">
	  <div class="am-modal-dialog">
	    <div class="am-modal-hd">标签
	      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
	    </div>
	    <hr />
	    <div class="am-g">
	      <div class="am-u-lg-12">
    		<div class="am-input-group">
      			<input id="label-content" type="text" class="am-form-field">
      			<span class="am-input-group-btn">
        			<button id="create-label-btn" class="am-btn am-btn-default" type="button">添加标签</button>
      			</span>
    		</div>
  		   </div>
  		</div>
	  </div>
	</div>
	<!-- preview pages -->
	<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
	  	<div class="am-modal-dialog">
	    <div class="am-modal-hd">Preview Function
	      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
	    </div>
	    <div class="am-modal-bd" id="preview-webpage-div">
	    </div>
  	</div>
</div>
